<div class="model-list-header">
  <h2 id="list-title">My API Models</h2>
  <div>
    <button mat-flat-button color="primary" (click)="import()">
      <span>Import </span>
      <mat-icon>
        add
      </mat-icon>
    </button>
    <button mat-flat-button color="primary" (click)="refresh()">
      <span>Refresh </span>
      <mat-icon>
        refresh
      </mat-icon>
    </button>
  </div>
</div>
<div class="model-list">
  <table mat-table [dataSource]="models">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.api.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.api.description }}</td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef>Version</th>
      <td mat-cell *matCellDef="let element">{{ element.api.version }}</td>
    </ng-container>

    <ng-container matColumnDef="license">
      <th mat-header-cell *matHeaderCellDef>License</th>
      <td mat-cell *matCellDef="let element">{{ element.api.license }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deploy(element)" *ngIf="element !== deployed">
          <mat-icon>publish</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(element)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
